absl-py
addict
antialiased-cnns
antlr4-python3-runtime
anykeystore
apex
appdirs
argon2-cffi
astroid
asttokens
async-generator
attrs
autoflake
backcall
beautifulsoup4
black
bleach
boto3
botocore
cachetools
certifi
cffi
chardet
charset-normalizer
click
cloudpickle
colorama
cryptacular
cycler
cython-bbox
dataclasses
debugpy
decorator
defusedxml
easydict
einops
entrypoints
executing
fastjsonschema
filterpy
fire
flake8
flake8-import-order
fonttools
future
fvcore
google-auth
google-auth-oauthlib
got10k
greenlet
grpcio
hupper
hydra-core
idna
imageio
importlib-metadata
importlib-resources
iopath
jedi
Jinja2
jmespath
jpeg4py
jsonpatch
jsonpointer
jsonschema
jupyter
jupyter-client
jupyter-console
jupyter-core
jupyterlab-pygments
jupyterlab-widgets
kiwisolver
lap
lazy-object-proxy
llvmlite
lvis
Markdown
MarkupSafe
matplotlib
matplotlib-inline
mccabe
mistune
mkl-fft
mkl-service
motmetrics
moviepy
mypy-extensions
natsort
nbclient
nbconvert
nbformat
nest-asyncio
notebook
numba
oauthlib
omegaconf
opencv-python
packaging
pandocfilters
parso
PasteDeploy
pathspec
pbkdf2
pexpect
pickleshare
Pillow
plaster
plaster-pastedeploy
portalocker
prometheus-client
prompt-toolkit
protobuf
psutil
ptyprocess
pure-eval
pyasn1
pyasn1-modules
pycocotools
pycodestyle
pycparser
pyflakes
Pygments
pyparsing
pyramid
pyramid-mailer
pyrsistent
python-dateutil
python3-openid
pytz
PyWavelets
PyYAML
pyzmq
qtconsole
QtPy
regex
repoze.sendmail
requests
requests-oauthlib
rsa
s3transfer
scikit-image
scikit-video
seaborn
Send2Trash
Shapely
soupsieve
SQLAlchemy
stack-data
tabulate
tao @ git+https://github.com/TAO-Dataset/tao@0f9f4bd654b775f5b59086cb8a8cf2bd91b91f98
tensorboard
tensorboard-data-server
tensorboard-plugin-wit
termcolor
terminado
timm
tinycss2
toml
tornado
tqdm
traitlets
transaction
translationstring
urllib3
velruse
venusian
visdom
wcwidth
webencodings
WebOb
websocket-client
Werkzeug
wget
widgetsnbextension
wrapt
WTForms
wtforms-recaptcha
xmltodict
yacs
youtube-dl
zipp
zope.deprecation
zope.interface
zope.sqlalchemy
